{% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
{% endif %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#157878">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<!--  Essential META Tags -->

<meta property="og:title" content="Jeremy D. Cherry">
<meta property="og:description" content="Designer, writer, and educator">
<meta property="og:image" content="https://jeremydcherry.com/images/og-image.png">
<meta property="og:url" content="jeremydcherry.com">
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@jeremydcherry" />


<!--  Non-Essential, But Recommended -->

<meta property="og:site_name" content="Jeremy D. Cherry">
<meta name="twitter:image:alt" content="Designer, writer, and educator">

<title>{{ site.title }} — {{ site.description }}</title>

<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />