{% if page.layout == "default" %}
<header class="page-header" role="banner">
  <div class="about">
    <a href="https://dribbble.com/jeremydcherry" class="first">Design &rsaquo;</a><a href="https://designdoesbook.com">Book &rsaquo;</a><a href="mailto:jeremy@jeremydcherry.com" class="btn">Contact</a>
  </div>   
</header>
{% else %}
<header class="page-header" role="banner">
  <div class="about">
    <a href="/" class="first">Home</a><a href="https://dribbble.com/jeremydcherry">Design &rsaquo;</a><a href="https://designdoesbook.com">Book &rsaquo;</a><a href="mailto:jeremy@jeremydcherry.com" class="btn">Contact</a>
  </div>   
</header>
{% endif %}
