<header class="page-header" role="banner">
	<div class="about">	
		<div class="column nav-left">
			<a href="/" class="home-link"><img src="/images/icon_jdc.svg" class="mark"></a>
		</div>	
		<div class="column nav-right">
	    	<a href="https://dribbble.com/jeremydcherry" class="first">Design &rsaquo;</a><a href="https://hopeful.design" class="nav">Book &rsaquo;</a>
	    	{% if page.permalink == "/resources" %}
	    	<span class="nav-active">Resources</span>
	    	{% else %}
	    	<a href="/resources" class="nav">Resources</a>
	    	{% endif %}
	  	</div>
	</div>
</header>