<div class="profile-wrapper">
	<div class="profile">
		<a href="/" class="profile-home"><img src="/images/jeremy-headshot.jpg" class="avatar" alt="Photo of Jeremy D. Cherry"></a>
		<h1 class="profile-card">Jeremy D. Cherry</h1>
		<h2 class="profile-card">Brand Designer<br/><em>Charlottesville, Virginia</em></h2>
		<a href="mailto:jeremy@jeremydcherry.com" class="social-link"><img src="/images/email.svg" class="social-icon"></a>
		<a href="https://dribbble.com/jeremydcherry" class="social-link"><img src="/images/dribbble.svg" class="social-icon"></a>
		<a href="https://jeremydcherry.medium.com" class="social-link"><img src="/images/medium.svg" class="social-icon"></a>
		<a href="https://www.linkedin.com/in/jeremydcherry/" class="social-link"><img src="/images/linkedin.svg" class="social-icon"></a>
	</div>
</div>