 @import "normalize";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

// !-- Large Screens //

* {
  box-sizing: border-box;
}

.column {
  float: left;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.column-half {
  float: left;
}

.col-main-half-1 {
  width: 25%;
}

.col-main-half-2 {
  padding: 0 10%;
  width: 75%;
}

.col-book-half-1 {
  width: 30%;
}

.col-book-half-2 {
  width: 70%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: #F4F4F3;
  font-family: "Cardo", serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.5;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: #000;
  font-size: 20px;
  line-height: 1.5;
  display: block;
  margin-block-start: 0;
  margin-block-end: 5%;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

b, strong {
  font-weight: 500;
}

hr {
  background-color: #ccc;
  border: none;
  color: #ccc;
  height: 1px;
  margin: 2em 0;
}

ol{
  margin: 0 0 2em;
}

li{
  color: 000;
  padding-left: 10px;
  font-family: "Cardo", serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.75;
}

li p{
  font-size: 20px;
  margin-block-end: 3%;
}

a{
  color: #000;
  border-bottom: 1px #bbb solid;
  text-decoration: none;
  transition: .25s;
}

a:hover{
  background-color: #ff0048;
  border-bottom: none;
  color: #fff;
}

.main-content {
  margin: 5% auto 0;
}

.page-header {
    margin: 1.5em auto 1em;
}

.main-wrapper{
  color: #000;
}

.main-inner{
  max-width: 1200px;
  padding: 0 0 1.5em;
  margin: 0 auto;
}

.profile{
  margin: 0 auto;
  color: #000;
  padding: 1em 0;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.btn{
  color: #fff;
  background-color: #EB0042;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0;
  border-radius: 50px;
  padding: 10px 40px;
  margin-right: 10px;
  transition: .25s;
}

a.btn:hover{
  background-color: #000;
  color: #fff;
}

a.btn_secondary{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 1px solid #000;
  border-radius: 50px;
  padding: 10px 40px;
  transition: .25s;
}

a.btn_secondary:hover{
  background-color: #000;
  color: #fff;
}

img{
  max-width: 660px;
}

.mark{
  width: 35px;
  height: auto;
}

a.home-link{
  border: 0;
  transition: .25s;
}

a.home-link:hover{
  opacity: .5;
}

h1{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.15;
  display: block;
  margin-block-start: 0;
  margin-block-end: .25em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1.primary-page-title{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 72px;
  font-weight: 600;
  letter-spacing: -0.045em;
  line-height: .85;
  display: block;
  margin-block-start: 0;
  margin-block-end: .3em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1.secondary-page-title{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.03em;
  line-height: 1;
  display: block;
  margin-block-start: 0;
  margin-block-end: .25em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1.manifesto-page-title{
  color: #000;
  font-family: "Cardo", sans-serif;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 1;
  display: block;
  margin-block-start: 0;
  margin-block-end: .25em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.15;
  margin-block-start: 0;
  margin-block-end: .25em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2.primary-page-title{
  color: #000;
  font-family: "Cardo", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.25;
  margin-block-start: 0;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2.secondary-page-title{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.25;
  margin-block-start: 0;
  margin-block-end: .5em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2.manifesto-page-title{
  color: #000;
  font-family: "Cardo", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.25;
  margin-block-start: 0;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3{
  color: #000;
  font-family: "Cardo", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.25;
  margin-block-start: 0;
  margin-block-end: .5em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3.manifesto-page-title{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.25;
  margin-block-start: 0;
  margin-block-end: .5em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4{
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
  display: block;
  margin-block-start: 0;
  margin-block-end: 3%;
  margin-inline-start: 0;
  margin-inline-end: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h5{
  color: #000;
  font-family: "Cardo", serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.01em;
  margin-block-start: 0px;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h6{
  color: #666;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.02em;
  margin-block-start: 0px;
  margin-block-end: 2.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1.profile-card{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.025em;
  line-height: 1;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0.25em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2.profile-card{
  color: #444;
  font-family: "Cardo", serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.35;
  margin-block-start: 0;
  margin-block-end: 0.75em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.manifesto{
  color: #000;
  font-size: 33px;
  line-height: 1.5;
  display: block;
  margin-block-start: 3%;
  margin-block-end: 4%;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.social-icon{
  width: 24px;
}

a.social-link{
  background-color: none;
  border-bottom: 0;
  opacity: 100%;
  transition: .25s;
}

a.social-link:hover{
  background-color: #F4F4F3;
  border-bottom: 0;
  opacity: 50%;
}

blockquote {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  border-left: #ddd 4px solid;
  padding: 0 50px 0 30px;
  letter-spacing: -0.03em;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer{
  background-color: #f4f4f3;
  color: #888;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 13px;
  line-height: 2;
  padding: 25px 0;
  text-align: center;
  height: 70px;
  margin: 5em 0 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer a{
  background-color: #f4f4f3;
  color: #000;
  border-bottom: 0;
}

footer a:hover{
  background-color: #f4f4f3;
  color: #ff0048;
}

.error{
  text-align: center;
  margin: 0 auto;
  padding: 3em 0 6em;
  max-width: 60ch;
}

.error h1{
  color: #ddd;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 100px;
  font-weight: 300;
  letter-spacing: -0.03em;
  line-height: .75;
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.error h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1;
  margin-block-start: 1em;
  margin-block-end: .25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.error h5{
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.02em;
  margin-block-start: .25em;
  margin-block-end: .25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// !-- Medium Screens //

@media screen and (max-width: 1250px) {
  .header-pattern{display: none;}
  .col-main-half-1{padding: 0 0 0 10%; width: 35%;}
  .col-main-half-2 {padding: 0 10%; width: 65%;}
}

// !-- Small Screens //

@media screen and (max-width: 1000px) {
  body{font-size: 21px;}
  .page-header{margin: 1em auto 1em;}
  .column{width: 100%;}
  .column-half{width: 100%;}
  .col-main-half-1{padding: 10% 10% 10% 10%;}
  .col-main-half-2{padding: 2% 10% 0;}
  .about{text-align: left; margin: 10px 0 0 20px;}
  .profile{padding: 0 0 0; margin: 0 auto 0;}
  .error{margin: 0 auto; padding: 4em 0; max-width: 85%;}
  .error h1{font-size:80px;}
  .error h2{font-size:20px;}
  .error h5{font-size:16px;}
  img{max-width: 100%;}
  .main-page{margin: 1em auto; max-width: 85%;}
  a.btn{padding: 10px 30px;}
  a.btn_secondary{padding: 10px 20px;}
  p {font-size: 20px; margin-block-end: 8%;}
  h1{font-size: 26px;}
  h2{font-size: 22px;}
  h3{font-size: 20px; line-height: 1.5;}
  h4{font-size: 12px;}
  h5{font-size: 16px;}
  h6{font-size: 12px;}
  .manifesto{font-size: 22px;}
  hr {margin: 1.5em 0;}
  blockquote{font-size: 19px; border-left: #eee 5px solid; padding: 0 0 0 20px; margin-inline-start: 0px; margin-inline-end: 0px;}
  footer{font-size: 12px; padding: 25px 25px; height: 100px;}
}


