 @import "normalize";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

// !-- Large Screens //

* {
  box-sizing: border-box;
}

.column {
  float: left;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.nav-left {
  width: 50%;
  text-align: left;
}

.nav-right {
  width: 50%;
  text-align: right;
  padding-top: 10px;
}

.column-half {
  float: left;
}

.col-main-half-1 {
  width: 30%;
}

.col-main-half-2 {
  padding: 0 10%;
  width: 70%;
}

.col-book-half-1 {
  width: 35%;
}

.col-book-half-2 {
  width: 65%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: #fff;
  font-family: "Cardo", serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.5;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: #000;
  font-size: 19px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1.35em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

b, strong {
  font-weight: 500;
}

hr {
  background-color: #ccc;
  border: none;
  color: #ccc;
  height: 1px;
  margin: 2.5em 0;
}

ol{
  margin: 0 0 2em;
}

li{
  color: 000;
  padding-left: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 19px;
}

li a{
  font-weight: 500;
}

a{
  color: #000;
  border-bottom: 1px #bbb solid;
  text-decoration: none;
  transition: .25s;
}

a:hover{
  background-color: #ff0048;
  border-bottom: none;
  color: #fff;
}

.main-content {
  margin: 0 auto;
}

.page-header {
    margin: 1.5em auto 1em;
}

.main-wrapper{
  color: #777;
}

.main-inner{
  max-width: 1200px;
  padding: 0 0 1.5em;
  margin: 0 auto;
}

.profile{
  background-color: #F4F4F3;
  margin: 0 auto;
  color: #000;
  padding: 2em 2em 1.5em;
  text-align: center;
  border-radius: 5px;
  max-width: 300px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.book{
  display: block;
  margin: 1em 0 15em;
}

.about{
  margin: 0 50px;
  color: #999;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.btn{
  color: #fff;
  background-color: #ff0048;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0;
  border-radius: 50px;
  padding: 10px 40px;
  transition: .25s;
}

a.btn:hover{
  background-color: #000;
  color: #fff;
}

a.btn_secondary{
  color: #000;
  background-color: #eee;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0;
  border-radius: 50px;
  padding: 10px 40px;
  transition: .25s;
}

a.btn_secondary:hover{
  background-color: #000;
  color: #fff;
}

img{
  max-width: 600px;
}


img.avatar{
  border-radius: 100px;
  width: 130px;
  margin: 0 0 15px;
}

img.book-cover{
  float: left;
  display: block;
  width: 150px;
  margin: 0 2em 1.25em 0;
  box-shadow: 0 0 3px 0 rgba(40,42,47,0.1), -3px 3px 10px 3px rgba(40,42,47,0.05), -10px 13px 10px 0 rgba(40,42,47,0.1), -3px 3px 3px -1px rgba(40,42,47,0.1);
  -webkit-box-shadow: 0 0 3px 0 rgba(40,42,47,0.1), -3px 3px 10px 3px rgba(40,42,47,0.05), -10px 13px 10px 0 rgba(40,42,47,0.1), -3px 3px 3px -1px rgba(40,42,47,0.1);
  -moz-box-shadow: 0 0 3px 0 rgba(40,42,47,0.1), -3px 3px 10px 3px rgba(40,42,47,0.05), -10px 13px 10px 0 rgba(40,42,47,0.1), -3px 3px 3px -1px rgba(40,42,47,0.1);
  transition: .25s;
}

img.book-cover:hover{
  box-shadow: 0 0 4px 0 rgba(40,42,47,0.15), -4px 4px 10px 4px rgba(40,42,47,0.075), -12px 18px 12px 0 rgba(40,42,47,0.15), -4px 4px 4px -1px rgba(40,42,47,0.15);
  -webkit-box-shadow: 0 0 4px 0 rgba(40,42,47,0.15), -4px 4px 10px 4px rgba(40,42,47,0.075), -12px 18px 12px 0 rgba(40,42,47,0.15), -4px 4px 4px -1px rgba(40,42,47,0.15);
  -moz-box-shadow: 0 0 4px 0 rgba(40,42,47,0.15), -4px 4px 10px 4px rgba(40,42,47,0.075), -12px 18px 12px 0 rgba(40,42,47,0.15), -4px 4px 4px -1px rgba(40,42,47,0.15);
}

.mark{
  width: 35px;
  height: auto;
}

a.home-link{
  background-color: #fff;
  border: 0;
  transition: .25s;
}

a.home-link:hover{
  background-color: #fff;
  opacity: .5;
}

h1{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.25;
  display: block;
  margin-block-start: 0;
  margin-block-end: .25em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.25;
  margin-block-start: 0;
  margin-block-end: .5em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 a{
  font-weight: 500;
}

h3{
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
  display: block;
  margin-block-start: .5em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4{
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.02em;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h5{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.02em;
  margin-block-start: 0px;
  margin-block-end: 1.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h6{
  color: #666;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.02em;
  margin-block-start: 0px;
  margin-block-end: 2.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1.profile-card{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.025em;
  line-height: 1;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0.25em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2.profile-card{
  color: #666;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1.35;
  margin-block-start: 0;
  margin-block-end: 0.75em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h5.profile-card{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1.15;
  margin-block-start: 0;
  margin-block-end: 0.5em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.social-icon{
  width: 24px;
}

a.social-link{
  background-color: none;
  border-bottom: 0;
  opacity: 100%;
  transition: .25s;
}

a.social-link:hover{
  background-color: #F4F4F3;
  border-bottom: 0;
  opacity: 50%;
}

blockquote {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  border-left: #ddd 4px solid;
  padding: 0 50px 0 30px;
  letter-spacing: -0.03em;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer{
  background-color: #f4f4f3;
  color: #888;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 13px;
  line-height: 2;
  padding: 25px 0;
  text-align: center;
  height: 70px;
  margin: 5em 0 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer a{
  background-color: #f4f4f3;
  color: #000;
  border-bottom: 0;
}

footer a:hover{
  background-color: #f4f4f3;
  color: #ff0048;
}

.error{
  text-align: center;
  margin: 0 auto;
  padding: 3em 0 6em;
  max-width: 60ch;
}

.error h1{
  color: #ddd;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 100px;
  font-weight: 300;
  letter-spacing: -0.03em;
  line-height: .75;
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.error h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1;
  margin-block-start: 1em;
  margin-block-end: .25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.error h5{
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.02em;
  margin-block-start: .25em;
  margin-block-end: .25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// !-- Medium Screens //

@media screen and (max-width: 1250px) {
  .header-pattern{display: none;}
  .col-main-half-1{padding: 0 0 0 10%; width: 35%;}
  .col-main-half-2 {padding: 0 10%; width: 65%;}
  .col-book-half-1 {width: 40%;}
  .col-book-half-2 {width: 60%;}
  .book{display: block; margin: 1em 0 16em;}
}

// !-- Small Screens //

@media screen and (max-width: 1000px) {
  body{font-size: 21px;}
  .page-header{margin: .25em auto .5em;}
  .column{width: 100%;}
  .column-half{width: 100%;}
  .col-main-half-1{padding: 0 10% 0 10%;}
  .about{text-align: left; margin: 10px 0 0 20px;}
  .nav-left{width: 25%; text-align: left; padding-left: 20px;}
  .nav-right{width: 75%; text-align: right; padding-top: 10px; padding-right: 20px;}
  .profile{padding: 1em 2em .5em; margin: 0 auto 0;}
  .error{margin: 0 auto; padding: 4em 0; max-width: 85%;}
  .error h1{font-size:80px;}
  .error h2{font-size:20px;}
  .error h5{font-size:16px;}
  img.avatar{margin: 0 0 10px;}
  .main-page{margin: 1em auto; max-width: 85%;}
  img.book-cover{width: 200px; margin:0 auto 1.25em;}
  .book{display: block;margin: 1em 0 30em;}
  h1{font-size: 24px;}
  h2{font-size: 19px;}
  h3{font-size: 12px;}
  h4{font-size: 13px;}
  h5{font-size: 13px;}
  hr {margin: 1.5em 0;}
  blockquote{font-size: 19px; border-left: #eee 5px solid; padding: 0 0 0 20px; margin-inline-start: 0px; margin-inline-end: 0px;}
  footer{font-size: 12px; padding: 25px 25px; height: 100px;}
}


