<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
  {% include head.html %}
  </head>
  <body>
    <main id="content" class="main-content" role="main">
      <div class="main-wrapper">
      <div class="main-inner">  
      <div class="row">
        <div class="column-half col-main-half-1">
          {% include title-sub.html %}
        </div>
        <div class="column-half col-main-half-2">
          {{ content }}
        </div>  
      </div>
      </div>
      </div>
      {% include footer.html %}
    </main>
  </body>
</html>
